html.meme body{
    transition: 0.3s;
    background: white;
}

html.meme #kit:hover{
    background-image: url('https://avatars.mds.yandex.net/get-vthumb/1995952/694569e01d9d02304471370702ca8e5d/564x318_1');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
}

html.meme #cs:hover{
    background-image: url('https://cdn.shazoo.ru/c1400x625/292386_yXHAVQjDay_newell.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
}

html.meme #ck:hover{
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/4/49/Flag_of_Ukraine.svg/500px-Flag_of_Ukraine.svg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
}