*{
    padding: 0px;
    margin: 0px;
}

@media (max-width: 430px){
    .logo[data-logo]{
        margin-top: 66px;
        font-size: 30px;
    }

    .lessons[data-lessons]{
        margin-top: 25px;
        padding: 0px;
    }

    .lesson[data-lesson]{
        width: 150px;
        height: 100px;
        flex-wrap: wrap;
    }

    .timetable[data-timetable]{
        margin-top: 40px;
    }

    .timetable__title[data-timetable__title]{
        font-size: 20px;
    }

    .timetable__subtitle[data-timetable__subtitle]{
        font-size: 20px;
    }

    .meme-mode-btn[data-meme-mode-btn]{
        width: 75px;
        height: 30px;
        font-size: 20px;
        margin-left: 39px;
    }

    .meme-mode-btn:hover[data-meme-mode-btn]{
        color: white;
    }
}


/* @media (max-width: 1250px){
    .logo[data-lg]{
        margin-top: 100px;
    }

    .timetable[data-tb]{
        margin-top: 150px;
    }

    .meme-mode-btn[data-meme]{
        margin-top: 400px;
        margin-left: 20%;
    }
}

@media (max-width: 1100px){
    .meme-mode-btn[data-meme]{
        margin-top: 510px;
    }
}

@media (max-width: 770px){
    .meme-mode-btn[data-meme]{
        margin-left: 10%;
        margin-top: 510px;
        width: 90px;
    }
}

@media (max-width: 720px){
    .logo[data-lg]{
        margin-top: 50px;
    }

    .lessons[data-ls]{
        margin-top: 50px;
    }

    .timetable[data-tb]{
        margin-top: 50px;
    }
}

@media (max-width: 710px){
    .timetable[data-tb]{
        margin-bottom: 70px;
    }
    .meme-mode-btn[data-meme]{
        width: 50px;
        height: 40px;
        margin-top: 630px;
    }
}

@media (max-width: 460px){
    .timetable__title[data-timep], .timetable__subtitle[data-timea]{
        font-size: 25px;
    }

    .logo[data-lg]{
        margin-top: 10px;
    }
} */



/* @media (max-width: 390px){
    .timetable__title[data-timep], .timetable__subtitle[data-timea]{
        font-size: 20px;
    }

    .meme-mode-btn[data-meme]{
        font-size: 20px;
    }
} */