*{
    padding: 0px;
    margin: 0px;
}

body{
    transition: 0.3s;
    background: #2F2F2F;
}

a{
    text-decoration: none;
}

header{
    display: flex;
    justify-content: center;
}

.logo{
    width: 430px;
    margin-top: 250px;
    font-size: 35px;
    font-family: "Encode Sans Expanded", sans-serif;
    text-align: center;
    color: #0368FF;
    font-weight: 900;
}

.lessons{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 30px;
    margin-top: 93px;
    padding-inline: 155px;
}

.lesson, .meme-mode-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    /* min-width: 62px; */
    height: 100px;
    border: 3px solid black;
    border-radius: 25px;
    background: #FBFBFB;
    cursor: pointer;
    font-family: "Encode Sans Expanded", sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    color: black;
    font-weight: 600;
}

.lesson:hover{
    transition: 0.3s;
    background: #9FA3FF;
}

.lesson__title{
    text-decoration: none;
    font-family: "Encode Sans Expanded", sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    color: black;
    font-weight: 600;
}

.timetable{
    margin-top: 200px;
    display: flex;
    justify-content: center;
}

.timetable__title, .timetable__subtitle{
    text-align: center;
    font-size: 30px;
    font-family: "Encode Sans Expanded", sans-serif;
    font-weight: 500px;
    color: #AEA7A7;
}

.timetable__subtitle{
    color: #0044FF;
}

.meme-mode-btn{
    position: absolute;
    width: 100px;
    border-radius: 15px;
    margin-top: 13px;
    margin-left: 25%;
    height: 50px;
    z-index: +999;
    background: #FE5555;
    opacity: 0;
}

.meme-mode-btn:hover{
    transition: 0.5s;
    opacity: 100;
}