*{
    padding: 0px;
    margin: 0px;
}

@media (max-width: 1250px){
    .logo[data-lg]{
        margin-top: 100px;
    }

    .timetable[data-tb]{
        margin-top: 150px;
    }

    .meme-mode-btn[data-meme]{
        margin-top: 510px;
        margin-left: 20%;
    }
}

@media (max-width: 770px){
    .meme-mode-btn[data-meme]{
        margin-left: 10%;
        width: 90px;
    }
}

@media (max-width: 720px){
    .logo[data-lg]{
        margin-top: 50px;
    }

    .lessons[data-ls]{
        margin-top: 50px;
    }

    .timetable[data-tb]{
        margin-top: 50px;
    }
}

@media (max-width: 710px){
    .timetable[data-tb]{
        margin-bottom: 70px;
    }
    .meme-mode-btn[data-meme]{
        width: 50px;
        height: 40px;
        margin-top: 630px;
    }
}

@media (max-width: 460px){
    .timetable__title[data-timep], .timetable__subtitle[data-timea]{
        font-size: 25px;
    }

    .logo[data-lg]{
        margin-top: 10px;
    }
}

@media (max-width: 390px){
    .timetable__title[data-timep], .timetable__subtitle[data-timea]{
        font-size: 23px;
    }
}

body{
    background: #2F2F2F;
}

a{
    text-decoration: none;
}

header{
    display: flex;
    justify-content: center;
}

.lessons{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 30px;
    margin-top: 93px;
    padding-inline: 155px;
}

.logo{
    width: 430px;
    margin-top: 250px;
    font-size: 35px;
    font-family: "Encode Sans Expanded", sans-serif;
    text-align: center;
    color: #0368FF;
    font-weight: 900;
}



.lesson, .meme-mode-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    min-width: 62px;
    height: 100px;
    border: 3px solid black;
    border-radius: 25px;
    background: #FBFBFB;
    cursor: pointer;
    font-family: "Encode Sans Expanded", sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    color: black;
    font-weight: 600;
}

.lesson:hover{
    transition: 0.3s;
    background: #9FA3FF;
}

.lesson__title{
    text-decoration: none;
    font-family: "Encode Sans Expanded", sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    color: black;
    font-weight: 600;
}

.timetable{
    margin-top: 200px;
    display: flex;
    justify-content: center;
}

.timetable__title, .timetable__subtitle{
    text-align: center;
    font-size: 30px;
    font-family: "Encode Sans Expanded", sans-serif;
    font-weight: 500px;
    color: #AEA7A7;
}

.timetable__subtitle{
    color: #0044FF;
}

.meme-mode-btn{
    position: absolute;
    width: 100px;
    border-radius: 15px;
    margin-top: 420px;
    margin-left: 25%;
    height: 50px;
    z-index: +999;
    background: #FE5555;
}
